footer{
    position: static;
    width: 100%;
    background: black;
}

.contact-me,
.about-me,
.follow-me {
    flex: 1;
    margin: 20px;
}

.contact-me p,
.about-me p,
.follow-me p {
    text-justify: auto;
}

.footer-info-container {
    display: flex;
    margin: auto;
    width: 80%;
}

h3 {
    color: white;
}

.copyright {
    padding: 1px;
    position: relative;
    left: 0;
    bottom: 0;
    background: orange;
    width: 100%;
    margin: auto;    
}
.copyright p {
    color: white;
    font-size: medium;
    text-align: center;
}

