.navbar {
  align-items: center;
}


.navbar-container {
  justify-content: space-around;
  align-content: center;
}

.flex-row{
  display: flex;
}

.logo-container {
  flex: 1;
  padding: 1rem 1rem;
}

.navbar-list {
  flex: 2;
  justify-content: center;
}

.navbar-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.navbar_item {
  color: white;
  text-decoration: none;
  padding: 1.6rem 1rem;
}

.logo {
  text-decoration: none;
  list-style: none;
  font-size: 16pt;
  color: white;
}

.navbar_item:hover,
.navbar_item:active,
.selected {
  color: orange;
}


@media (max-width: 760px) {
  .flex-row{
    flex-direction: column;
  }

  .logo-container{
    text-align: center;
  }
}
