.navbar{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
}

.navbar_menu{
    display: inline;
    color: white;
}


.navbar_menu:hover, .navbar_menu:active {
    color: orange;
}