body {
    background: rgb(49, 49, 49);
    font-family: Helvetica, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    text-align: centers;
    background: black;
}

h1 {
    color: orange;
}

h2 {
    color: white;
}

p {
    font-size: large;
    color: white;
}

section {
    padding: 20px 0 20px 0;
    text-align: center;
}
