section button.neonbtn:hover {
    color: #255784;
    background: #e7ab05;
    box-shadow: 0 0 10px #f3bb21, 0 0 10px #f3bb21, 
    0 0 10px #f3bb21, 0 0 10px #f3bb21;
}

section button a{
    color: white;
}