<html>
<head>
    <title>Contoh</title>
</head>
<body>
<nav>
    <a href="/home">Halaman Utama</a> |
    <a href="/gallery">Gallery</a> |
    <a href="/contact">Contact Us</a> |
    <a href="/about">About Me</a> |
</nav>

<h1>Ini Body</h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat mattis erat, a mattis dui condimentum ut. Nulla vulputate felis sit amet tortor auctor molestie. Vivamus ante felis, ornare at ullamcorper id, feugiat sit amet arcu. Donec eu maximus mi. Donec cursus magna vel felis iaculis, et aliquam est lacinia. Vivamus et cursus magna, eu tempus ex. Mauris vulputate urna lectus, sit amet imperdiet velit facilisis sit amet. In dignissim vitae lorem ut tincidunt. Aliquam sit amet gravida erat. Donec lobortis lectus lectus, a scelerisque magna maximus ut.
Suspendisse quam risus, consequat non nisl nec, condimentum eleifend mauris. Nulla fermentum, mi quis vulputate fringilla, quam lacus eleifend dolor, eget vestibulum lacus nisi ac nunc. Mauris lectus quam, finibus eget ante et, ornare pulvinar tellus. Aenean purus dui, condimentum varius bibendum vitae, molestie et neque. Quisque volutpat nulla quis justo bibendum ullamcorper. In ullamcorper lectus erat, nec interdum justo tristique nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sem odio, tempor ut leo at, dignissim luctus mauris. Donec ullamcorper est vitae nisl tempus viverra. Praesent consectetur justo ex, quis laoreet dolor dignissim at. Suspendisse rutrum dapibus ipsum ut consequat. Fusce id varius tellus. Morbi sodales mattis ante, eu egestas dui ullamcorper id. Sed vel ultrices quam. Donec in eros at sapien laoreet iaculis.

<footer>
    <center>
        Ini footer
    </center>
</footer>

</body>
</html>
